.header {
    width: 100%;
    height: auto;
    /*background-image: url("../medias/mascot.png");
    background-position: center;
    background-size: cover; */
}

body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    text-align: center;
}

.gallery-title{
    font-size: 2.4rem;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
    padding: 190px 20px 50px;
}

.slideshow-container{
    max-width: 700px;
    margin: 0 auto;
    position: relative;
}

.divider {
    width: 360px;
    height: 2px;
    background: #666;
    border-radius: 2px;
    margin: 0 auto 30px;
    opacity: 0;
    transform: scaleX(0);
    animation: dividerAnim 1.2s ease forwards;
}

/*dividerのアニメーション*/
@keyframes dividerAnim {
    to {
        opacity: 1;
        transform: scaleX(1);
    }
}

.slide{
    width: 100%;
}

.slide img{
    width: 100%;
    height: auto;
    display: block;
}

/* 矢印の位置を固定 */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    user-select: none;
}

/* 左矢印 */
.prev {
    left: 0;
}

/* 右矢印 */
.next {
    right: 0;
}

.dot-container{
    text-align: center;
    margin-top: 20px;
}

.dot{
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active{
    background-color: #717171;
}

h2.subtitle::first-letter{
    font-size: 2em;
    color: #000;
}

h2.subtitle{
    text-align: left;
    padding-left: 5%;
}

.text-area{
    text-align: left;
}

@media (max-width: 600px){
    .slideshow-container{
        max-width: 95%;
    }
}
