body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    text-align: center;
}

.page-header {
    text-align: center;
    padding: 190px 20px 50px;
}

.page-header h1 {
    font-size: 2.0rem;
    margin-bottom: 10px;
    font-weight: 700;
}

.divider {
    width: 360px;
    height: 2px;
    background: #666;
    border-radius: 2px;
    margin: 0 auto 30px;
    opacity: 0;
    transform: scaleX(0);
    animation: dividerAnim 1.2s ease forwards;
}

/*dividerのアニメーション*/
@keyframes dividerAnim {
    to {
        opacity: 1;
        transform: scaleX(1);
    }
}

.youtube{
    width: 50%;
    margin-left: 25%;
    aspect-ratio: 16/9;
}

.youtube iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.footer {
  text-align: center;
  padding: 40px 0;
  margin-top: 60px;
  border-top: 1px solid #eee;
  font-size: 0.9rem;
  color: #777;
}

/* ===== スマホ対応（幅600px以下） ===== */
@media (max-width: 600px) {
     .header{
        margin-bottom: 0%;
    }

    .page-header{
        padding: 0 20px 30px;
    }

    .page-header h1 {
        font-size: 1.9rem;   
    }

    .divider {
        width: 200px;
    }

    .youtube{
        width: 100%;
        aspect-ratio: 16/9;
        margin: 3px auto;
    }
    
}


