@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Noto Sans JP", sans-serif; 
}



nav{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    z-index: 10;
}

.logo{
    width: 150px;
    margin: 0 auto 20px auto;
    cursor: pointer;
    font-size: 3rem;
    font-weight: 450;
    z-index: 10;
}

nav ul{
    background: #000;
    width: 100%;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 30px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

.text {
    padding: 20px 10%;
}

nav.sticky{
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 3%;
    transition: 0.6s;
}

nav.sticky.logo{
    margin-top: 10px;
}

nav.sticky.ul{
    background-color: transparent;
    font-size: 1.3rem;
}

.logo-left, .logo-right {
    transition: color 0.5s;
}

.logo-left {
    color: black;
}

.logo-right {
    color: black; /* スクロール前は全体黒 */
}

nav.sticky .logo-right {
    color: white; /* スクロールしたら右半分だけ白に */
}

.footer {
  text-align: center;
  padding: 40px 0;
  margin-top: 60px;
  border-top: 1px solid #eee;
  font-size: 0.9rem;
  color: #777;
}

/* ---- スマホ対応 ---- */
@media (max-width: 600px) {
  .header {
    width: 100%;
    height: 35vh;
    background-position: center top;
    left: 0;
  }
  
  .header h1 {
    width: 80%;
    font-size: 1.5rem;
    margin: 0 auto;
  }
}